<header class="clearfix">

  <div id="nav-icon"></div>
    <a onClick="openMenu()" href="#">
      <svg width="30" height="30">
        <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
        <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
        <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
      </svg>
    </a>
  </div>

  <form id="date-chooser" method="POST" action="/select-date">
    <!-- <a href="{{month_prev}}_{% if month_prev == 12 %}{{current_year-1}}{% else %}{{current_year}}{% endif %}"><h3 class="month-selector-other float-left"><span class="arrow">&lt;</span> {{ month_name_prev }}</h3></a> -->

    <select name="month" onchange="this.form.submit()">
      <option value="1" {% if current_month == 1 %}selected{% endif %}>January</option>
      <option value="2" {% if current_month == 2 %}selected{% endif %}>February</option>
      <option value="3" {% if current_month == 3 %}selected{% endif %}>March</option>
      <option value="4" {% if current_month == 4 %}selected{% endif %}>April</option>
      <option value="5" {% if current_month == 5 %}selected{% endif %}>May</option>
      <option value="6" {% if current_month == 6 %}selected{% endif %}>June</option>
      <option value="7" {% if current_month == 7 %}selected{% endif %}>July</option>
      <option value="8" {% if current_month == 8 %}selected{% endif %}>August</option>
      <option value="9" {% if current_month == 9 %}selected{% endif %}>September</option>
      <option value="10" {% if current_month == 10 %}selected{% endif %}>October</option>
      <option value="11" {% if current_month == 11 %}selected{% endif %}>November</option>
      <option value="12" {% if current_month == 12 %}selected{% endif %}>December</option>
    </select>
    <select name="year" onchange="this.form.submit()">
      {% for i in range(200) %}
      <option value="{{1900+i}}" {% if current_year == 1900+i %}selected{% endif %}>{{1900+i}}</option>
      {% endfor %}
    </select>

    <!-- <a href="{{month_next}}_{% if month_next == 1 %}{{current_year+1}}{% else %}{{current_year}}{% endif %}"><h3 class="month-selector-other float-right">{{ month_name_next }} <span class="arrow">&gt;</span></h3></a> -->
  </form>

  <h2>
    <a href="/">
      {{ now.day }}{% if now.day == 1 or now.day == 21 or now.day == 31 %}st{% elif now.day == 2 or now.day == 22 %}nd{% elif now.day == 3 or now.day == 23 %}rd{% else %}th{% endif %}
      {{ now_month_name }},
      {{ now.year }}
    </a>
  </h2>



  <nav id="side-nav">

    <div id="nav-close" onClick="closeMenu()">&times;</div>

    <a href="/">Home</a>
    <a href="about">About</a>
    {% if session.logged_in %}
      <a class="nav-item nav-link" href="logout">Logout</a>
    {% else %}
      <a class="nav-item nav-link" href="register">Register</a>
      <a class="nav-item nav-link" href="login">Login</a>
    {% endif %}

  </nav>

</header>
