<div id="menu-expander" onClick="toggleMenu()">

  <div id="nav-icon"></div>
      <svg width="30" height="30">
        <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
        <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
        <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
      </svg>
  </div>

</div>
<!-- <h2>
  <a href="/">
    {{ now.day }}{% if now.day == 1 or now.day == 21 or now.day == 31 %}st{% elif now.day == 2 or now.day == 22 %}nd{% elif now.day == 3 or now.day == 23 %}rd{% else %}th{% endif %}
    {{ now_month_name }},
    {{ now.year }}
  </a>
</h2> -->

  <nav id="side-nav">
    <p>
    {% if session.logged_in %}
       Welcome, {{session.username}}! <br>
    {% endif %}
      Today is the
      {{ now.day }}{% if now.day == 1 or now.day == 21 or now.day == 31 %}st{% elif now.day == 2 or now.day == 22 %}nd{% elif now.day == 3 or now.day == 23 %}rd{% else %}th{% endif %}
      of {{ now_month_name }},
      {{ now.year }}
    </p>

    <a href="/">Home</a>
    <a onclick="openModalOther('about'); toggleMenu();" href="#">About</a>
    {% if session.logged_in %}
      <a href="logout">Logout</a>
    {% else %}
      <a onclick="openModalOther('register'); toggleMenu();" href="#">Register</a>
      <a onclick="openModalOther('login'); toggleMenu();" href="#">Login</a>
    {% endif %}

  </nav>
