@charset "UTF-8";
/*
Based on Eric Meyer's CSS reset:
http://meyerweb.com/eric/tools/css/reset/
*/
a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------------------------------------------------/*

                                              CUSTOM STYLES BEGIN ->

==========================================================================*/
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #999;
  font-size: 16px;
  color: #191919;
}

body.iframe-body {
  background-color: #efefee;
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------------/*

                                              LAYOUT ->

==========================================================================*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.main-container {
  width: 100%;
  position: absolute;
  margin: 22px auto 22px auto;
}

.main-window {
  border-radius: 5px;
  background-color: #efefee;
  width: 85%;
  margin: 5% auto;
  box-shadow: 0 10px 30px gray;
}

.form-box {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 10px 30px #000;
  margin: 60px auto;
}

.form-box-small {
  width: 300px;
}

.form-box-large {
  width: 85%;
}

@media (max-width: 1100px) {
  .main-window {
    width: 95%;
  }
}
@media (max-width: 750px) {
  body {
    font-size: 14px;
  }

  .main-window {
    width: 100%;
  }
}
/*----------------------------------------------------------------------------/*

                                              TYPOGRAPHY ->

==========================================================================*/
h1 {
  font-size: 4em;
  color: #fff;
}

h3,
h3 a {
  font-size: 1.7em;
  color: #191919;
  margin-top: 22px;
}

h3 a:hover {
  color: #0a3847;
}

strong {
  font-weight: 600;
}

/*----------------------------------------------------------------------------/*

                                              HEADER ->

==========================================================================*/
#menu-expander {
  background-color: rgba(30, 104, 112, 0.9);
  height: 60px;
  width: 60px;
  left: 12px;
  top: 12px;
  padding-left: 7px;
  border-radius: 5px;
  position: fixed;
  z-index: 3;
  transition: 0.3s;
}

#menu-expander:hover {
  cursor: pointer;
  background-color: #cca559;
}

header h2 {
  font-size: 2.2em;
  font-weight: 200;
  color: #fff;
  display: inline-block;
  float: right;
  margin-right: 7.5%;
  margin-top: 16px;
}

header a {
  color: #fff;
}

#nav-icon {
  display: inline-block;
  margin-left: 7.5%;
  margin-top: 24px;
  padding-bottom: 22px;
}

nav#side-nav {
  color: #fff;
  width: 220px;
  background: #191919;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -220px;
  opacity: 0.95;
  overflow-x: hidden;
  padding-top: 88px;
  transition: 0.3s;
}

nav#side-nav a {
  color: #fff;
  display: block;
  margin: 0 0 44px 44px;
  font-size: 1.3em;
  transition: 0.2s;
}

nav#side-nav a:hover,
nav#side-nav a:focus {
  color: #cca559;
}

nav#side-nav #nav-close {
  font-size: 2em;
  position: absolute;
  top: 44px;
  right: 44px;
  cursor: pointer;
  transition: 0.2s;
}

nav#side-nav #nav-close:hover,
nav#side-nav #nav-close:focus {
  color: #af0000;
}

nav p {
  padding: 0 44px 44px 44px;
  margin-bottom: 44px;
  color: #cca559;
  line-height: 1.6em;
  border-bottom: 2px solid #c0c0c0;
}

/*----------------------------------------------------------------------------/*

                                              MODAL STYLES ->

==========================================================================*/
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: visible;
}

#modal-window {
  display: none;
}

#modal-iframe {
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #efefee;
  margin: 70px auto;
  width: 80%;
  height: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.6), 0 7px 20px 0 rgba(0, 0, 0, 0.6);
  animation-name: modal-open;
  animation-duration: 1s;
}

#btn-close {
  color: #999;
  font-size: 60px;
  position: fixed;
  top: 20px;
  right: 7.5%;
}

#btn-close:hover,
#btn-close:focus {
  color: #af0000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  position: fixed;
  width: 100%;
  height: 80px;
  background: rgba(10, 56, 71, 0.9);
  top: 0;
  left: 0;
  padding: 22px;
  border-top: solid 1px #191919;
  border-radius: 0;
  z-index: 1;
  color: #1e6870;
}

.modal-header a {
  color: #1e6870;
  text-decoration: underline;
}

.modal-header h2 {
  color: #efefee;
  display: inline-block;
  font-weight: 200;
  font-size: 1.8em;
}

.modal-wrapper {
  margin: 80px 0 36px 0;
}

/*----------------------------------------------------------------------------/*

                                              TABLES ->

==========================================================================*/
table {
  width: 100%;
  vertical-align: top;
}

thead {
  border-radius: 5px;
}

th {
  background: #0a3847;
  padding: 22px;
  color: #efefee;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
}

th:first-child {
  border-radius: 5px 0 0 0;
}

th:last-child {
  border-radius: 0 5px 0 0;
}

td {
  background: #ffe;
  color: #191919;
  padding: 44px;
}

/*----------------------------------------------------------------------------/*

                                              MAIN CALENDAR ->

==========================================================================*/
.main-calendar table {
  padding-bottom: 108px;
}

.main-calendar td {
  width: 14%;
  text-align: center;
  padding: 0;
  height: 72px;
  overflow: hidden;
}

.main-calendar td a {
  color: #191919;
  padding: 22px;
  display: block;
  width: 100%;
  height: 100px;
}

.main-calendar td a:hover {
  background: #1e6870;
  text-decoration: none;
  color: #efefee;
}

.today-highlight a {
  background: #cca559;
  color: #191919;
}

td.other-month {
  background: #efefee;
}

td.other-month a {
  color: #999;
}

ul.small-titles {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.small-titles li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 0.8em;
}

.small-titles li::before {
  content: "▪";
  color: #efefee;
  display: inline-block;
  font-size: 30px;
  height: 10px;
  position: absolute;
  left: 0;
  top: -10px;
}

tfoot {
  border-top: 1px solid #0a3847;
}

.main-calendar tfoot td {
  background: #efefee;
  padding: 0;
  height: 75px;
  vertical-align: top;
}
.main-calendar tfoot td a {
  height: 75px;
}

tfoot tr:last-child td:first-child {
  text-align: left;
  border-radius: 0 0 0 5px;
}

tfoot tr:last-child td:last-child {
  text-align: right;
  border-radius: 0 0 5px 0;
}

.calendar-footer {
  display: block;
  text-align: center;
  width: 100%;
  background: #1e6870;
  padding: 12px;
}

.calendar-footer h3 {
  display: inline-block;
  color: #cca559;
  font-size: 40px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.arrow {
  color: #191919;
  padding: 0 12px 8px 12px;
}

a h3.month-selector-other {
  color: #0a3847;
  font-size: 1.8em;
  margin: 0;
}

tfoot td:first-child a:hover,
tfoot td:last-child a:hover {
  background: #efefee;
  border-bottom: 4px solid #1e6870;
}

form#date-chooser {
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
  display: inline-block;
}

#date-chooser input,
#date-chooser select {
  z-index: 0;
  font-size: 1.6em;
  background: #fff;
  color: #191919;
  border-radius: 0;
  border-color: #999;
  margin-top: 17px;
}

@media (max-width: 650px) {
  .main-calendar td a {
    color: #191919;
    padding: 8px 4px;
    display: block;
    width: 100%;
    height: 80px;
  }
}
/*----------------------------------------------------------------------------/*

                                              FORMS ->

==========================================================================*/
form {
  width: 100%;
  height: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.form-fields {
  padding: 22px;
}

.form-fields label {
  color: #0a3847;
  display: block;
  font-weight: bold;
  margin-bottom: 22px;
}

.form-fields input {
  background: #fff;
  border: 1px solid #c0c0c0;
  color: #191919;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}

.form-action {
  padding: 22px;
  margin-bottom: 22px;
  float: right;
}

.form-action label {
  color: #ffe;
  font-size: 12px;
  margin: 10px 0 0 20px;
}

.btn {
  border: 0;
  cursor: pointer;
  font-weight: 400;
  padding: 11px 16px;
  color: #191919;
  display: inline-block;
  text-align: center;
  width: 120px;
  letter-spacing: 0.05em;
  margin: 6px;
  border-radius: 0;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-create {
  background: #060;
  color: #fff;
}

.btn-danger {
  background: #af0000;
  color: #fff;
}

.btn-edit {
  background: #fff;
  color: #191919;
}

.btn:hover,
.btn:focus {
  background-color: #191919;
  color: #fff;
}

/*----------------------------------------------------------------------------/*

                                              DATE NOTES TABLE ->

==========================================================================*/
.datenote-description {
  text-align: left;
}

.datenote-options {
  text-align: right;
  padding: 22px;
}

.datenote-table tr {
  background-color: #efefee;
  border-bottom: 2px solid #c0c0c0;
}

.datenote-table tr:last-child {
  border-bottom: 0;
}

.notes-error {
  font-weight: 600;
  font-size: 1.2em;
  color: #af0000;
}

/*----------------------------------------------------------------------------/*

                                              ALERTS ->

==========================================================================*/
.alert {
  height: 36px;
  padding: 12px;
  text-align: center;
  font-weight: 600;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 0.9;
  color: #fff;
}

.alert-danger {
  background: rgba(175, 0, 0, 0.8);
}

.alert-success {
  background: rgba(0, 102, 0, 0.8);
}

.text-warning {
  color: #af0000;
  font-weight: 400;
}

/*# sourceMappingURL=styles.css.map */
